.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100%;
  /* margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px; */
}

.total {
  text-align: center;
  color: red;
  font-weight: bold;
}
