/* custom */

$soft-peach: #ede1e6 !default;
$azalea: #f6d9e6 !default;
$lavender-pink: #fb9bc3 !default;
$rose: #f00076 !default;
$lipstick: #ca005d !default;
$bgred: #b71058 !default;

$white-ice: #f3fbfd !default;
$polar: #e5f6fa !default;
$bright-turquoise: #0cc6de !default;
$cerulean: #00add0 !default;
$bondi-blue: #058eac !default;
$atoll: #087187 !default;

/* high contrast */

$hc-azalea: #ede1e6 !default;
$hc-cerulean: #0c77a6 !default;
$hc-gray-over-white: #767676 !default;
$hc-gray-over-light-gray: #707070 !default;
$hc-gray-over-dark-gray: #505050 !default;

/* feedback */

$success: #5cbe58 !default;
$warning: #ff9b1e !default;
$alert: #ec5840 !default;

/* gray */

$white: #fff;
$ghost: #fafafa;
$snow: #f9f9f9;
$vapor: #f6f6f6;
$white-smoke: #f5f5f5;
$silver: #efefef;
$smoke: #eee;
$smoky: #5e5d62;
$gainsboro: #ddd;
$iron: #ccc;
$base: #aaa;
$aluminum: #999;
$jumbo: #888;
$monsoon: #777;
$steel: #666;
$charcoal: #555;
$tuatara: #444;
$oil: #333;
$jet: #222;
$black: #000;
$light-gray: #d8d8d8;

/* color */

$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;

$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$light-black: #333;