
.tab-list {
    /* border-bottom: 1px solid #ccc; */
    border-bottom: 2px solid #ffe6e6;
    padding-left: 0;
  }

  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
     width: 33.33%;
  }

  .tab-list-active {
    background-color: white;
    /* border: solid #ccc; */
    border: solid  #ffe6e6 ;
    border-width: 1px 1px 0 1px;
     color: #007bff;
     background: #f9dcdd
  }